.navbar-inverse {
    background-color: #f79810;
    border-color: #f79810;
	padding:15px 0px;
	background-image: none !important;
}

.btn-block{
	background-color: #f79810;
    border-color: #f79810;
	
	
}


.btn{
	
}
.btn-primary:focus, .btn-primary:hover {
	
}

a{
	color: #f79810;
}

.panel-info>.panel-heading {
    color: #fff;
    background-color: #4CADC9;
    border-color: #f6e6d0;
	background-image: none !important;
	text-align:center;
}

.panel-default>.panel-heading{
	background-color: #4CADC9;
	background-image: none !important;
	color: #fff;
}

.panel-body{
	background-color:#F5F5F5;
	background-image:none;
}

.page-header{
	margin:0;
	border:none;
}

.modal-content {
	background-color:#F9EFE0;
}


.login_name{
 background:#F69810;
 padding:15px;
}

.profile_sidebar{
 background:#FFF;	
}

.btn-warning{
 background:#F69810;	
}

.navbar-head{
 width: 100%;
   left: 0;
   text-align: center;
   margin: auto;
   	
}
.navbar-head li{
  padding-left:15px;
  margin-left:20px;	
}
.navbar-head li a{
  color:#FFF !important;	
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background:#4BADC8;
}

#footer{
background:#292929	
}

.chat {
	display: block;
	position: relative;
	height: 605px;
	width: 100%;
	overflow: auto;
	margin: 1px;
}
.stream {
    display: block;
    position: relative;
    height: auto;
    width: 88%;
    margin: 10px;
}
.msg {
    display: block;
	position: relative;
	background: #eee;
	border-top: #ddd solid 1px;
}
.msg > form >textarea {
    display: inline-block;
	width: 71%;
	margin: 5px;
	height: 36px;
	resize: none;
}
.msg > form > input[type="submit"] {
	display: inline-block;
	width: 51px;
	position: absolute;
	top: 6px;
	height: 40px;
	background: #59c;
	color: #fff;
	border: #2A6592 solid 1px;
}
.m-rply, .f-rply{
	float: right;
	position: relative;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	max-width: 100%;
	margin: 5px 0;
}
.f-rply{
	float: left;	
}
.msg-bg{
	background-color: #fff;
}
.msgA{
	vertical-align: top;
	padding: 7px 9px 11px;
	position: relative;	
}
.msg-time{
	display: inline-block;	
	font-family: arial,sans-serif;
	font-size: 11px;
	color: rgba(0,0,0,.3);
}
.myrply-i, .myrply-f{
	display: block;
	background: url('icon.png');
	height: 7px;
	width: 6px;
	position: absolute;
	bottom: -1px;
	z-index: 1;
	right: -5px;
	background-position: 0px -12px;
}
.myrply-f{
	background-position: 0px 0px;
	left: -5px;
	top: 0;
}
.float-fix{
	display: block;;
}
.float-fix{
	width: 100%;
}
.float-fix:after{
	clear: both;
	height: 0;
	content: "";
	display: block;
	position: relative;	
}